body {
    background-color: #effaff;
  }
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .image {
    width: 250px;
    margin-top: 10px;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }
  